<?php

use Raiz\Bd\Auxiliadores\Migrador;

class %s extends Migrador
{
  private $tabla = 'CAMBIAR';

  public function up()
  {
    $sql = "";

    $this->run($sql);
  }

  public function down()
  {
    $sql = "";

    $this->run($sql);
  }
}
